<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920670851941-ul7a4sq3pf72v65c66p6s3l1kk5ep06q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920670851941-ul7a4sq3pf72v65c66p6s3l1kk5ep06q</string>
	<key>API_KEY</key>
	<string>AIzaSyC1SWUc5b7_5FkePc49USM27jsWcyk3oIw</string>
	<key>GCM_SENDER_ID</key>
	<string>920670851941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymcontrol</string>
	<key>PROJECT_ID</key>
	<string>gymcontrol-989b3</string>
	<key>STORAGE_BUCKET</key>
	<string>gymcontrol-989b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920670851941:ios:c4b724ad2b0c9465</string>
	<key>DATABASE_URL</key>
	<string>https://gymcontrol-989b3.firebaseio.com</string>
</dict>
</plist>